
:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #4154f1;
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding-bottom: 40px;
}

.section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
}

.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}

@media (max-width: 768px) {
    .section-header p {
        font-size: 28px;
        line-height: 32px;
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
}

.header.header-scrolled {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
    line-height: 0;
}

.header .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.header .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #013289;
    white-space: nowrap;
    transition: 0.3s;
}


.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: #4154f1;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    background: #4154f1;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background: #5969f3;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
    color: #4154f1;
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .megamenu {
    position: static;
}

.navbar .megamenu ul {
    margin-top: 5px;
    right: 0;
    padding: 10px;
    display: flex;
}

.navbar .megamenu ul li {
    flex: 1;
}

.navbar .megamenu ul li a,
.navbar .megamenu ul li:hover > a {
    color: #013289;
}

.navbar .megamenu ul li a:hover,
.navbar .megamenu ul li .active,
.navbar .megamenu ul li .active:hover {
    color: #4154f1;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
    color: #012970;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 1200px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #012970;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #4154f1;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: #4154f1;
}

.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #012970;
}

.hero h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
}

.hero .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.hero .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.hero .btn-get-started:hover i {
    transform: translateX(5px);
}

@media (min-width: 1024px) {
    .hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    .hero {
        height: auto;
        padding: 120px 0 60px 0;
    }

    .hero .hero-img {
        text-align: left;
        margin-top: 80px;
    }

    .hero .hero-img img {
        width: 80%;
    }

    .row-cols-1 .col {
        text-align: left;
    }
}

@media (max-width: 768px) {
    .hero {
        text-align: left;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero h2 {
        font-size: 24px;
    }

    .hero .hero-img img {
        width: 100%;
    }
}


/* Estilos para el contenido debajo de la Navbar */
.header-content {
    background-color: #ffffff; /* Cambia el color de fondo según tu preferencia */
    padding: 40px; /* Ajusta el espaciado superior e inferior */
    text-align: center; /* Centra el contenido */

}

.header-content h1 {
    font-size: 3.5rem; /* Tamaño del título */
    margin-bottom: 10px; /* Espaciado inferior del título */
    font-weight: bold; /* Grosor de la fuente */
    color: #012970; /* Color del texto */
    font-family: "Nunito", sans-serif;

}

.header-content h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    color: #50565a;
}

.card-body p {
    margin-bottom: 0; /* Ajusta el margen inferior a 0 para reducir el espacio entre líneas */
}

/* Ajustes adicionales según tus preferencias */
.card-title {
    color: #052238; /* Cambia el color del título */
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    font-family: "Nunito", sans-serif;

}

.card-text {
    text-align: center;
    font-size: 25px;
    color: #1c303c; /* Cambia el color del texto regular */
    font-family: "Nunito", sans-serif;

}

/*Estilos de la card*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ajustar el espacio entre las tarjetas */
    margin: 0 -10px; /* Margen negativo para compensar el espacio entre las tarjetas */
}

.product-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    width: 100%;
    border-radius: 15px; /* Reducción del radio del borde */
    background: #ffffff; /* Cambio de color de fondo */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Reducción de la sombra */
    z-index: 3;
    overflow: hidden;
    margin: 10px; /* Espaciado entre las tarjetas */
}

/*Al pasar por la card*/
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Ubicacion del icono de tienda*/
.product-card .logo-cart {
    display: flex;
}

/*Icono de tienda*/
.product-card .logo-cart i {
    font-size: 25px;
    color: #707070;
    cursor: pointer;
    transition: color 0.3s ease;
}

/*Icono de tienda al presionar*/
.product-card .logo-cart i:hover {
    color: #4154f1;
}

/*Imagenes*/
.product-card .main-images {
    position: relative;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/*Imagenes*/
.product-card .main-images img {
    border-radius: 10px; /* Agrega bordes redondeados */
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Estilos para la imagen en la barra de navegación */
.imagen_nav {
    width: 50px; /* Ancho deseado */
    height: 50px; /* Altura deseada */
    border-radius: 50%; /* Para hacer la imagen redonda si es necesario */
    border: 3px solid #012970;

}

.imagen_nav:hover {
    border-color: #4154f1;
}

/* Botones de agregar al carrito */
.product-card .button {
    position: relative;
    height: 50px;
    width: 100%;
    border-radius: 25PX;
    overflow: hidden;
}


.product-card .button .button-layer {
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    background-image: linear-gradient(135deg, #9708CC, #43CBFF, #9708CC, #43CBFF);
    transition: all 0.4s ease;
    border-radius: 25PX;
}

.product-card .button:hover .button-layer {
    left: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Estilo del círculo giratorio */
.lds-dual-ring {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #3498db;
    border-radius: 50%;
    border-top: 3px solid #ffffff;
    animation: spin 1s linear infinite;
}

.product-card .button button {
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.product-card .card-footer {
    padding: 10px 15px; /* Ajusta el relleno según sea necesario */
    background-color: #ffffff; /* Color de fondo */
}

.product-card .card-footer .product-card-button {
    display: flex;
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: flex-end; /* Alinear contenido hacia la parte inferior */
    margin-top: 3px; /* Alinear al final del espacio disponible */
}


.form-control-lg {
    min-height: calc(1.5em + 1rem + calc(var(--bs-border-width) * 2));
    padding: .5rem 1rem;
    font-size: 15px;
}

.form-select-lg {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    font-size: 15px;
}

.input-group > .form-control, .input-group > .form-floating, .input-group > .form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    border-radius: 50px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}

.navbar a i,
.navbar a:focus i {
    font-size: 40px;
    line-height: 0;
    margin-left: 5px;
}


/* Estilos para el footer */
footer {
    color: black;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000; /* Un valor alto para asegurarse de que esté por encima de otros elementos */
    height: 45px; /* Ajuste la altura según sea necesario */
}

.footer-content {
    background-color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.left-content {
    text-align: left;
}

.footer-content p {
    text-align: center;
    margin: 0; /* Ajuste el margen según sea necesario */
    font-family: "Nunito", sans-serif;
    font-size: 18px;
}

/* Estilos para el contenedor de la hora */
.hora-contenedor {
    text-align: center; /* Cambiado a center para alinear con el centro del footer */
    height: 30px;
    position: fixed;
    bottom: 3px;
    z-index: 99999;
    right: 10px;
    color: #000;
    font-family: "Nunito", sans-serif;
}

.time-text,
.ampm-text {
    font-weight: bold;
}

.agotado {
    color: red;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}
