<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SGIV - Productos Disponibles</title>
    <!-- Favicons -->
    <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">


    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_shop.css') }}">

</head>
<body>

<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="{{ url_for('index') }}" class="logo d-flex align-items-center">
            <img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="">
            <span>SGIV</span>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li class="dropdown"><a href="#"><span>Gestion de Ventas</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li class="dropdown"><a href="#"><span>Gestionar productos</span> <i
                                class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="/registro_producto">Agregar productos</a></li>
                                <li><a href="/gestion_inventario">Actualizar Inventario</a></li>
                            </ul>
                        </li>

                        <li class="dropdown"><a href="#"><span>Visualizacion de datos</span> <i
                                class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="/productos_vendidos.html">Productos vendidos</a></li>
                                <li><a href="/grafico_pastel">Graficos</a></li>
                                <li><a href="/usuarios_registrados">Registro de clientes</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#"><span>Gestion de Compras</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/productos">Productos disponibles</a></li>
                        <li><a href="/carrito_compras">Carro de compras<i
                                class="fas fa-shopping-cart ml-2 fa-lg"></i></a></li>
                        <li><a href="/productos_comprados">Productos comprados</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {% if imagen_base64 %}
                        <!-- Imagen de perfil con tamaño personalizado -->
                        <img src="data:image/jpeg;base64,{{ imagen_base64 }}" alt="Imagen de perfil"
                             class="icon-large imagen_nav">
                        {% else %}
                        <!-- Si no hay imagen, puedes usar un icono predeterminado o una imagen por defecto -->
                        <i class="fas fa-user-circle icon-large"></i>
                        {% endif %}
                        <br>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/perfil_de_usuario">{{ username }}</a></li>
                        <!-- El enlace de cierre de sesión con una clase personalizada -->
                        <li><a class="dropdown-item logout-link" href="{{ url_for('logout') }}">Cerrar sesión</a></li>
                    </ul>
                </li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->    </div>
</header><!-- End Header -->

<section class="py-5">
    <div class="header-content">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 data-aos="fade-up" data-aos-delay="400">PRODUCTOS DISPONIBLES</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Encuentra múltiples productos.</h2>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center mt-4">
                <div class="col-md-8">
                    <form id="formBusqueda" action="/productos" method="GET">
                        <div class="input-group" style="background-color: white">
                            <input type="text" id="busqueda" name="busqueda" class="form-control form-control-lg"
                                   placeholder="Buscar por nombre o ID." aria-label="Buscar"
                                   aria-describedby="boton-busqueda">
                            <button class="btn btn-primary btn-lg" type="submit" id="boton-busqueda"
                                    style="background-color: #4154f1; border: none;">
                                <i class="fas fa-search" style="color: white;"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center mt-4">
                <div class="col-md-8">
                    <form id="formFiltro" action="/productos" method="GET">
                        <div class="input-group mb-3">
                            <select class="form-select form-select-lg text-muted" id="filtroCategorias"
                                    name="categoria">
                                <option value="" selected style="color: #6c757d;">Todas las categorías</option>
                                {% for categoria in categorias %}
                                <option value="{{ categoria }}">{{ categoria }}</option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-primary btn-lg" type="submit" id="boton-filter"
                                    style="background-color: #4154f1; border: none;">
                                <i class="fas fa-filter" style="color: white;"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row row-cols-1 row-cols-md-3 g-4" id="productosContainer">
                {% for producto in productos %}
                <div class="col product-card-container">
                    <div class="product-card card h-100">
                        <div class="d-flex flex-column h-100">
                            <div class="card-header">
                                <div class="logo-cart">
                                    <i class="ri-store-2-line icon"></i>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <div class="main-images">
                                    {% if producto.imagen %}
                                    <img src="data:image/{{ producto.tipo_imagen }};base64,{{ producto.imagen }}"
                                         alt="Imagen referencial">
                                    {% else %}
                                    <p>No hay imagen disponible</p>
                                    {% endif %}
                                </div>
                                <div class="shoe-details flex-grow-1">
                                    <h5 class="card-title shoe_name">{{ producto.nombre }}</h5>
                                    <p class="card-text price_detail">ID: {{ producto.id }}</p>
                                    <p class="card-text price_detail">
                                        Categoría: {{ producto.categoria }}</p>
                                    <p class="card-text price_detail">Precio: ${{ producto.precio }}</p>
                                    <p class="card-text price_detail">
                                        Unidades Disponibles:
                                        <span class="{% if producto.cantidad == 0 %}agotado{% endif %}">
                                            {% if producto.cantidad == 0 %}AGOTADO{% else %}{{ producto.cantidad }}{% endif %}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="product-card-button">
                                    <div class="button">
                                        <div class="button-layer"></div>
                                        <button {% if producto.cantidad== 0 %}disabled{% endif %}
                                                onclick="añadirAlCarrito( {{ producto.id }} )" class="custom-btn">
                                            Añadir al carrito <i class="fas fa-shopping-cart ms-2"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="mensajeNoEncontrado" class="alert alert-warning alert-dismissible fade show" role="alert"
         style="display: none; position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%);">
        <strong>No se encuentran resultados.</strong>
        <button type="button" class="btn-close" aria-label="Close"></button>
    </div>

</section>

<div class="hora-contenedor">
    <p id="tiempo-actual">
        <span id="time" class="time-text"></span>
        <span id="ampm" class="ampm-text"></span>
    </p>
</div>
<footer>
    <div class="footer-content">
        <div class="left-content">
            <p><strong>Universidad Estatal de Milagro</strong> Todos los derechos reservados - UNEMI</p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Mensaje Swal Alert con animación de círculo girando al cargar la página
        Swal.fire({
            title: 'Cargando...',
            html: 'Por favor, espere...<br><br><div class="lds-dual-ring"></div>',
            icon: 'info',
            showConfirmButton: false,
            onBeforeOpen: () => {
                Swal.showLoading();
            },
        });
        // Simula un tiempo de carga de 1 segundo después de que la página se cargue
        setTimeout(() => {
            Swal.close();
        }, 1000);
    });
</script>

<script>
    function añadirAlCarrito(idProducto) {
        Swal.fire({
            title: 'Seleccione la cantidad',
            input: 'number',
            inputAttributes: {
                min: 1,
                step: 1
            },
            showCancelButton: true,
            confirmButtonText: 'Añadir al carrito',
            showLoaderOnConfirm: true,
            preConfirm: (cantidad) => {
                return fetch(`/agregar_al_carrito/${idProducto}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({cantidad: cantidad}) // Enviar la cantidad en el cuerpo de la solicitud
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Error al agregar al carrito');
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Mostrar Sweet Alert en caso de éxito
                        Swal.fire({
                            icon: 'success',
                            title: 'Exito',
                            text: 'Producto añadido al carrito correctamente.',
                            showConfirmButton: false,
                            timer: 1500 // Duración en milisegundos que se muestra el mensaje
                        });
                    })
                    .catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Error al agregar al carrito.',
                        });
                    });
            },
            allowOutsideClick: () => !Swal.isLoading()
        });
    }
</script>


<script>
    // Función para búsqueda en tiempo real
    function buscarProductos() {
        let busqueda = document.getElementById('busqueda').value.toLowerCase().trim();
        let productos = document.querySelectorAll('.product-card-container');
        let mensajeNoEncontrado = document.getElementById('mensajeNoEncontrado');
        let encontrado = false;

        productos.forEach(function (producto) {
            let nombreProducto = producto.querySelector('.shoe_name').textContent.toLowerCase();
            let detallesProducto = producto.querySelectorAll('.price_detail');
            let found = false;

            detallesProducto.forEach(function (detalle) {
                let textoDetalle = detalle.textContent.toLowerCase();
                if (textoDetalle.includes(busqueda)) {
                    found = true;
                }
            });

            if (nombreProducto.includes(busqueda) || found) {
                producto.style.display = 'block';
                encontrado = true;
            } else {
                producto.style.display = 'none';
            }
        });

        // Mostrar el mensaje si no se encontraron resultados
        mensajeNoEncontrado.style.display = encontrado ? 'none' : 'block';
    }


    // Asignar funciones a eventos
    document.getElementById('formBusqueda').addEventListener('submit', function (event) {
        event.preventDefault();
    });

    document.getElementById('busqueda').addEventListener('input', buscarProductos);
</script>

<script>
    document.getElementById('filtroCategorias').addEventListener('change', function () {
        let categoriaSeleccionada = this.value.toLowerCase().trim();
        let productos = document.querySelectorAll('.product-card');

        productos.forEach(function (producto) {
            let categoriaProducto = producto.querySelector('.price_detail:nth-child(3)').textContent.toLowerCase().trim();
            let colPadre = producto.closest('.col');

            if (categoriaProducto.includes(categoriaSeleccionada) || categoriaSeleccionada === 'todas las categorías') {
                colPadre.style.display = 'block';
            } else {
                colPadre.style.display = 'none';
            }
        });
    });
</script>

<script>
    function updateTime() {
        const timeElement = document.getElementById('time');
        const currentTime = new Date();
        const hora = currentTime.getHours().toString().padStart(2, '0');
        const minuto = currentTime.getMinutes().toString().padStart(2, '0');
        const segundo = currentTime.getSeconds().toString().padStart(2, '0');

        timeElement.innerHTML = `<strong>${hora}</strong>:<strong>${minuto}</strong>:<strong>${segundo}</strong>`;
    }

    // Actualiza la hora cada segundo
    setInterval(updateTime, 500);
    // Llama a updateTime para mostrar la hora inicial
    updateTime();

    function updateTime() {
        const timeElement = document.getElementById('time');
        const ampmElement = document.getElementById('ampm'); // Elemento para la referencia AM/PM
        const currentTime = new Date();
        let hours = currentTime.getHours();
        let minutes = currentTime.getMinutes();
        let seconds = currentTime.getSeconds();
        let ampm = 'AM'; // Por defecto, asumimos que es AM
        // Verifica si es PM y ajusta la referencia
        if (hours >= 12) {
            ampm = 'PM';
            if (hours > 12) {
                hours -= 12;
            }
        }
        // Asegura que las horas, minutos y segundos tengan dos dígitos
        hours = hours.toString().padStart(2, '0');
        minutes = minutes.toString().padStart(2, '0');
        seconds = seconds.toString().padStart(2, '0');
        // Actualiza el contenido de los elementos
        timeElement.innerHTML = `${hours}:${minutes}:${seconds}`;
        ampmElement.innerHTML = ampm;
    }

    // Actualiza la hora cada segundo
    setInterval(updateTime, 1000);
    // Llama a updateTime para mostrar la hora inicial
    updateTime();
</script>


<!-- Vendor JS Files -->
<script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>


<!-- Template Main JS File -->
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>